<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="leobot">

  <xacro:include filename="$(find leobot_description)/robot/robot.urdf.xacro"/>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/leobot</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

  <gazebo reference="base_link">
    <mu1 value="1.0"/>
    <mu2 value="1.0"/>
    <kp value="10000000.0"/>
    <kd value="1.0"/>
    <material>Gazebo/White</material>
  </gazebo>

</robot>