<?xml version="1.0"?>
<robot name="leobot" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Included files -->
  <xacro:include filename="$(find leobot_description)/urdf/materials.urdf.xacro"/>
  <xacro:include filename="$(find leobot_description)/urdf/common.urdf.xacro"/>

  <!-- Robot links -->
  <link name="base_link">
    <visual>
      <xacro:cylinder_geometry radius="0.25" height="1.0"/>
      <xacro:navajo_white_material/>
    </visual>
    <xacro:cylinder_collision radius="0.25" height="1.0"/>
    <xacro:cylinder_inertia mass="10" radius="0.25" height="1.0"/>
  </link>

</robot>
