@font-face {
    font-family: "GlacialIndifference-Bold";
    src: url("fonts/GlacialIndifference-Bold.otf");
}

body {
    margin: 0;
}

header {
    margin: 0;
    width: 100%;
    height: 110px;
    background-color: #595959;
    display: flex;
    align-items: center;
}

.header-wrapper {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.header-image {
    width: 242px;
    height: 52px;
    margin-left: 15px;
    background-image: url("http://res.cloudinary.com/dvhn8lvvz/image/upload/v1515331815/site-logo_xrpypd.png");
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    font-family: "GlacialIndifference-Bold", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    color: #fdfdfd;
    margin-right: 40px;
}

main {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.video {
    margin-right: 24px;
    margin-top: 0;
}

.map {
    margin-top: 0;
}

.video-header, .map-header, .map .map-counter-item label, .map .map-counter-item input {
    font-family: "GlacialIndifference-Bold", sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #595959;
}

.video-header, .map-header {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.video-streaming {
    width: 671px;
    height: 504px;
}

.map-tracking {
    width: 458px;
    height: 342px;
}

.map-counter {
    margin-top: 16px;
}

.map .map-counter-item input {
    border: none;
    margin-left: 5px;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.no-spinners {
    -moz-appearance:textfield;
}

.control-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.control-panel-header {
    font-family: "GlacialIndifference-Bold", sans-serif;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    color: #595959;
    margin-bottom: 10px;
    margin-top: 20px;
}

.control-panel-button {
    width: 180px;
    height: 44px;
    border: none;
    border-radius: 10px;
    background-color: rgba(89,89,89,.4);
    box-shadow: 2.5px 4.3px 5px 0 rgba(0, 0, 0, 0.75);
    font-family: "GlacialIndifference-Bold", sans-serif;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-bottom: 2px;
    padding-left: 0;
    padding-right: 0;
}

.control-panel-button:active {
    background-color: #dcdcdc;

}

.control-panel-button:focus {
    outline: 0;
}

.left-right {
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.small-buttons {
    display: none;
}

footer p {
    font-family: "GlacialIndifference-Bold", sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.93;
    letter-spacing: normal;
    text-align: right;
    color: #595959;
    position: fixed;
    right: 10px;
    bottom: 0;
}

footer {
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
}

@media all and (max-width: 1279px) and (min-width: 900px), (min-height: 700px) and (max-height: 800px) {

    .header-wrapper {
        width: 870px;
    }

    .wrapper {
        width: 870px;
        justify-content: center;
    }

    .video {
        margin-right: 14px;
    }

    .video-header, .map-header, .map .map-counter-item input {
        font-size: 12px;
        line-height: 1.1;
    }

    .map .map-counter-item label {
        font-size: 12px;
    }

    .video-header, .map-header {
        font-size: 14px;
    }

    .video-streaming {
        width: 540px;
        height: 405px;
    }

    .map-tracking {
        width: 320px;
        height: 238px;
    }

    .small-buttons {
        display: none;
    }

    .control-panel-header {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .control-panel-button {
        width: 160px;
        height: 32px;
        font-size: 16px;
    }

    .left-right {
        width: 540px;
    }
}

@media (max-height: 730px) {
    footer p {
        display: none;
    }
}

@media all and (max-width: 899px) and (min-width: 670px){

    header {
        height: 90px;
    }

    h1 {
        font-size: 18px;
    }

    .header-image {
        width: 200px;
        height: 55px;
        margin-left: 10px;
        background-size: cover;
    }

    .header-wrapper {
        width: 650px;
    }

    .wrapper {
        width: 650px;
        justify-content: center;
    }

    .video {
        margin-right: 8px;
    }

    .video-header, .map-header, .map .map-counter-item input {
        font-size: 11px;
        line-height: 1.3;
    }

    .map .map-counter-item label {
        font-size: 10px;
    }

    .video-header, .map-header {
        font-size: 12px;
    }

    .video-streaming {
        width: 420px;
        height: 315px;
    }

    .map-tracking {
        width: 210px;
        height: 156px;
    }

    .small-buttons {
        display: none;
    }

    .control-panel-header {
        font-size: 14px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .control-panel-button {
        width: 125px;
        height: 25px;
        font-size: 10px;
    }
    .left-right {
        width: 450px;
    }

    footer p {
        font-size: 9px;
    }
}

@media all and (max-width: 669px) and (min-width: 320px){

    header {
        height: 65px;
    }

    .header-wrapper {
        width: 320px;
        justify-content: center;
    }

    .header-image {
        width: 43px;
        height: 43px;
        margin-left: 5px;
        background-image: url(http://res.cloudinary.com/dvhn8lvvz/image/upload/c_fill,g_west,h_53,w_53/v1515331815/site-logo_xrpypd.png);
        background-size: cover;
    }

    h1 {
        font-size: 14px;
        line-height: 1.13;
        text-align: center;
        margin-right: 0;
    }

    .wrapper {
        width: 320px;
        flex-direction: column;
        align-items: center;
    }

    .video {
        margin-right: 10px;
    }

    .video-header, .map-header {
        font-size: 16px;
        line-height: 1.3;
        text-align: center;
    }

    .map .map-counter-item input {
        width: 35px;
        font-size: 9px;
    }

    .smallscreen-wraper {
        display: flex;
    }

    .map-counter {
        margin-left: 7px;
    }
    .map .map-counter-item label {
        font-size: 9px;
    }

    .video-header, .map-header {
        font-size: 12px;
    }

    .video-streaming {
        width: 315px;
        height: 236px;
    }

    .map-tracking {
        width: 220px;
        height: 163px;
    }

    .control-panel {
        display: none;
        width: 300px;
    }

    .small-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .control-panel-header {
        font-size: 12px;
    }
    .small-button-top {
        border: none;
        background-color: transparent;
        width: 30px;
        height: 30px;
        background-image: url("http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,h_30,w_30/a_270/v1515333945/arrow-right-01-256_b40xbs.png");
    }

    .small-left-right {
        display: flex;
    }

    .small-button-left {
        border: none;
        background-color: transparent;
        width: 30px;
        height: 30px;
        margin-right: 40px;
        background-image: url("http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,h_30,w_30/a_180/v1515333945/arrow-right-01-256_b40xbs.png");
    }

    .small-button-right {
        border: none;
        background-color: transparent;
        width: 30px;
        height: 30px;
        margin-left: 40px;
        background-image: url("http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,h_30,w_30/a_0/v1515333945/arrow-right-01-256_b40xbs.png");
    }

    .small-button-bottom {
        border: none;
        background-color: transparent;
        width: 30px;
        height: 30px;
        background-image: url("http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,h_30,w_30/a_90/v1515333945/arrow-right-01-256_b40xbs.png");
    }

    .small-button-top:active {
        background-image: url("http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_negate,h_30,w_30/a_270/v1515333945/arrow-right-01-256_b40xbs.png");
        outline: none;
    }

    .small-button-left:active {
        background-image: url("http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_negate,h_30,w_30/a_180/v1515333945/arrow-right-01-256_b40xbs.png");
        outline: none;
    }
    .small-button-right:active {
        background-image: url("http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_negate,h_30,w_30/a_0/v1515333945/arrow-right-01-256_b40xbs.png");
        outline: none;
    }
    .small-button-bottom:active {
        background-image: url("http://res.cloudinary.com/dvhn8lvvz/image/upload/c_scale,e_negate,h_30,w_30/a_90/v1515333945/arrow-right-01-256_b40xbs.png");
        outline: none;
    }

    .small-button-top:focus {
        outline: 0;
    }
    .small-button-left:focus {
        outline: 0;
    }
    .small-button-right:focus {
        outline: 0;
    }
    .small-button-bottom:focus {
        outline: 0;
    }
    footer p {
        font-size: 8px;
    }
}
