<launch>
    <node name="controller_spawner"
          pkg="controller_manager" type="spawner" respawn="false"
          output="screen" ns="/"
          args="joint_state_controller head_position_controller mecanum_velocity_controller" />

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" />

    <node pkg="twist_mux" type="twist_mux" name="twist_mux">
        <rosparam command="load" file="$(find leobot_control)/config/common/twist_mux.yml"/>
        <remap from="cmd_vel_out" to="/mecanum_velocity_controller/cmd_vel"/>
    </node>
</launch>