.gamepad-list {
  margin-bottom: 5%;
}

.actuometer {
  height: 10vw;
  margin: 1% 0;
  overflow: hidden;
}

.actuometer .overlap {
  width: 100%;
  height: 100%;
  background: white;
}

#reset {
  float: right;
}
