.gamepad-list {
  margin-bottom: 5%;
}

.actuometer {
  height: 10vw;
  margin: 1% 0;
}

.actuometer.momentary {
  background: linear-gradient(to right, blue, red);
}

.actuometer.maximum {
  background: blue;
}

.actuometer .overlap {
  width: 100%;
  height: 100%;
  background: white;
}

#reset {
  float: right;
}
