<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Joystick Configuration</title>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/popper-1.12.9.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-4.0.0.min.js"></script>
    <script type="text/javascript" src="js/vue-2.6.9.js"></script>
    <script type="text/javascript" src="js/vue-form-wizard-0.8.4.js"></script>
    <script type="text/javascript" src="js/config.js"></script>
    <link rel="stylesheet" href="css/bootstrap-4.0.0.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/vue-form-wizard-0.8.4.min.css">
    <link rel="stylesheet" href="css/config.css"/>
</head>
<body>
<div id="wizard">
    <form-wizard ref="tabs" title="Joystick Configuration" subtitle="" @on-change="onChange" @on-complete="onComplete">
        <tab-content title="Select" icon="ti-user" :before-change="showButtonsConfig">
            <h5>Select a joystick to configure or press any joystick button</h5>
            <div class="list-group gamepad-list">
                <a v-for="(gamepad, index) in gamepads" v-on:click="gamepadClickHandler" href="#"
                   class="list-group-item list-group-item-action gamepad-name" :class="{'active': index===0&&gamepad.index!==null}">
                    {{gamepad.name}}
                </a>
            </div>
            <p class="alert alert-warning" role="alert">
              <i class="fa fa-exclamation-triangle"></i>
              Please release all thumbsticks/analog controls before pressing Next.</p>
        </tab-content>

        <tab-content title="Configure" icon="ti-settings" :before-change="askNextButton">
            <h5>Action: {{buttonRole}}</h5>
            <p>Press the joystick button/axis to the maximum and hit Next</p>
            <div id="actuometer">
              <div class="actuometer momentary">
                <div class="overlap"></div>
              </div>
              <div class="actuometer maximum">
                <div class="overlap"></div>
              </div>
            </div>
            <p>
              Configured value: {{configuredString}}
              <button id="reset" type="button" class="btn btn-outline-secondary btn-primary btn-sm">Reset</button>
            </p>
        </tab-content>

        <tab-content title="Check" icon="ti-check">
          <table id="config-table" class="table">
            <thead>
              <tr>
                <th>Button Role</th>
                <th>Joystick Action</th>
                <th>Axis Direction</th>
                <th>Sensivity</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="config in userConfiguration">
                <td v-for="s in config">{{s}}</td>
              </tr>
            </tbody>
          </table>
          <p>Press Next to save the configuration</p>
        </tab-content>

        <tab-content title="Finish" icon="ti-check">
            <p>Joystick configuration saved!</p>
            <p>Press Finish to enter the VR or close this page.</p>
        </tab-content>
    </form-wizard>
</div>

</body>
</html>
