<launch>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="true"/>
  <arg name="gzweb" default="false"/>
  <arg name="world_file" default="office"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find leobot_gazebo)/worlds/$(arg world_file).world"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="verbose" value="$(arg verbose)"/>
  </include>

  <param name="robot_description"
         command="$(find xacro)/xacro --inorder '$(find leobot_description)/robot/leobot.gazebo.xacro'"/>

        
  <group unless="$(arg gzweb)">
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model leobot -param robot_description"/>
  </group>

  <group if="$(arg gzweb)">
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
      args="-urdf -model leobot -file /tmp/leobot.gazebo.urdf -package_to_model" respawn="false" output="screen" >
      <param name="dummy_to_generate_gazebo_urdf_file"
        command="rosrun xacro xacro.py -o /tmp/leobot.gazebo.urdf '$(find leobot_description)/robot/leobot.gazebo.xacro'" />
      <param name="dummy_to_convert_package_to_model"
        command="sed -i s@package://@model://@g /tmp/leobot.gazebo.urdf" />
    </node>
  </group>        

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen"/>
</launch>