<launch>
  <arg name="port" default="/dev/ttyACM0"/>
  <arg name="baud" default="115200"/>
  <arg name="loop_rate" default="100"/>

  <node pkg="rosserial_python" type="serial_node.py" name="rosserial" output="screen">
    <param name="port" value="$(arg port)"/>
    <param name="baud" value="$(arg baud)"/>
  </node>

  <node name="robot_hardware" pkg="leobot_hardware" type="leobot_hardware_node" output="screen">
    <param name="loop_rate" value="$(arg loop_rate)"/>
  </node>
</launch>