<launch>
    <arg name="world_file" default="office"/>
    <arg name="headless" default="true"/>
    <arg name="gui" default="false"/>
    <arg name="gzweb_home" default="/home/user/gzweb"/>
    <arg name="gzweb_port" default="8282"/>
    
    <include file="$(find leobot_gazebo)/launch/gzweb.launch">
        <arg name="world_file" value="$(arg world_file)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="gzweb_home" value="$(arg gzweb_home)"/>
        <arg name="gzweb_port" value="$(arg gzweb_port)"/>
    </include>

    <include file="$(find leobot_control)/launch/control.launch">
        <arg name="sim" value="true"/>
        <arg name="velocity_control" value="false"/>
    </include>
</launch>