<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="sphere_inertia" params="mass radius">

    <inertial>
      <mass value="${mass}"/>
      <origin xyz="0 0 0"/>

      <inertia ixx="${2*mass*radius*radius/5}" ixy="0.0" ixz="0.0"
               iyy="${2*mass*radius*radius/5}" iyz="0.0"
               izz="${2*mass*radius*radius/5}"/>
    </inertial>

  </xacro:macro>

  <xacro:macro name="sphere_inertia_gazebo" params="mass radius">

    <inertial>
      <mass>${mass}</mass>
      <inertia>
        <ixx>${2*mass*radius*radius/5}</ixx>
        <ixy>0</ixy>
        <iyy>${2*mass*radius*radius/5}</iyy>
        <ixz>0</ixz>
        <iyz>0</iyz>
        <izz>${2*mass*radius*radius/5}</izz>
      </inertia>
    </inertial>

  </xacro:macro>

  <xacro:macro name="sphere_geometry" params="radius">
    <geometry>
      <sphere radius="${radius}"/>
    </geometry>
  </xacro:macro>

  <xacro:macro name="sphere_geometry_gazebo" params="radius">
    <geometry>
      <sphere>
        <radius>${radius}</radius>
      </sphere>
    </geometry>
  </xacro:macro>

  <xacro:macro name="sphere_collision" params="radius">
    <collision>
      <xacro:sphere_geometry radius="${radius}"/>
    </collision>
  </xacro:macro>


  <xacro:macro name="cylinder_inertia" params="mass radius height">

    <inertial>
      <mass value="${mass}"/>
      <origin xyz="0 0 0"/>

      <inertia ixx="${(3*radius*radius + height*height)*mass/12}" ixy="0.0" ixz="0.0"
               iyy="${(3*radius*radius + height*height)*mass/12}" iyz="0.0"
               izz="${radius*radius*mass/2}"/>
    </inertial>

  </xacro:macro>

  <xacro:macro name="cylinder_geometry" params="radius height">
    <geometry>
      <cylinder length="${height}" radius="${radius}"/>
    </geometry>
  </xacro:macro>

  <xacro:macro name="cylinder_collision" params="radius height">
    <collision>
      <xacro:cylinder_geometry radius="${radius}" height="${height}"/>
    </collision>
  </xacro:macro>

  <xacro:macro name="box_inertia" params="mass width height depth">

    <inertial>
      <mass value="${mass}"/>
      <origin xyz="0 0 0"/>

      <inertia ixx="${(depth*depth + height*height)*mass/12}" ixy="0.0" ixz="0.0"
               iyy="${(depth*depth + width*width)*mass/12}" iyz="0.0"
               izz="${(width*width + height*height)*mass/12}"/>
    </inertial>

  </xacro:macro>

  <xacro:macro name="box_geometry" params="width height depth">
    <geometry>
      <box size="${width} ${height} ${depth}"/>
    </geometry>
  </xacro:macro>

  <xacro:macro name="box_collision" params="width height depth">
    <collision>
      <xacro:box_geometry width="${width}" height="${height}" depth="${depth}"/>
    </collision>
  </xacro:macro>

</robot>