<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="white_material">
    <material name="white">
      <color rgba="1.0 1.0 1.0 1.0"/>
    </material>
  </xacro:macro>

  <xacro:macro name="black_material">
    <material name="black">
      <color rgba="0.0 0.0 0.0 1.0"/>
    </material>
  </xacro:macro>

  <xacro:macro name="navajo_white_material">
    <material name="navajo_white">
      <color rgba="1.0 0.87 0.68 1.0"/>
    </material>
  </xacro:macro>

  <xacro:macro name="red_material">
    <material name="red">
      <color rgba="1.0 0.0 0.0 1.0"/>
    </material>
  </xacro:macro>

  <xacro:macro name="green_material">
    <material name="green">
      <color rgba="0.0 1.0 0.0 1.0"/>
    </material>
  </xacro:macro>

  <xacro:macro name="blue_material">
    <material name="blue">
      <color rgba="0.0 0.0 1.0 1.0"/>
    </material>
  </xacro:macro>

</robot>