<launch>
    <arg name="port" default="8080"/>
    <node pkg="leobot_web_server" type="web_server.js"
          name="leobot_web_server" output="screen">
        <param name="port" value="$(arg port)"/>
    </node>
    <node pkg="web_video_server" type="web_video_server"
          name="web_video_server" output="screen">
        <param name="port" value="8090"/>
    </node>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" >
        <arg name="port" value="9090"/>
    </include>
</launch>
